<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <label for="filteredStatus">Server </label>
      <input type="text" [(ngModel)]="filterStatus">
      <hr>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <hr>
      <h2>App status: {{appStatus | async}}</h2>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filterStatus:'status' | sort"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 15 }}</strong> | 
          {{ server.instanceType | uppercase | reverse }} | 
          {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
